// Dracula color scheme
$background: #282a36;
$currentline: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

// logo colors
$logodarkred: #972625;
$logocream: #f6f3e4;
$logogray: #d7e2e7;
$logodarkgray: #a4bac2;

// form color:
$darkgold: #aca49c;
$lightgold: #bbb5af;