.adviceCodeContainer {
  .CodeMirror {
    width: 85%;
    height: 100%;
    margin: 20px auto;
    padding: 3px;
    border-radius: 15px;
    text-align: left !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
  }
}

#testMeOutBtn {
  border-radius: 5px;
  border: none;
  padding: 4px;
  width: 50%;
  margin: auto;
}