#pieChart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#segmentTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

#segmentText {
  width: 95%;
  padding-left: 10px;
  padding-right: 15px;
  margin: auto;
  line-height: 22px;
}

#helpbtn {
  margin-left: 5px;
  margin-right: 5px;
}
