.adviceCodeContainer {
  .CodeMirror {
    width: 75%;
    height: 100%;
    margin: 20px auto;
    padding: 3px;
    border-radius: 15px;
    text-align: left !important;
  }
}

#testMeOutBtn {
  border-radius: 5px;
  border: none;
  padding: 4px;
  width: 50%;
  margin: auto;
}