#pieChart {
  /* border: red 1px dotted; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.text-container {
  /* border: 1px dotted; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#segmentText {
  width: 100%;
  padding: 20px;
  text-align: centre;
}
