.CodeMirror {
  font-family: 'Source Code Pro';
  font-size: 11.5px;
  width: 100%;
  height: 770px;
}

.codeButtons {
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 8px;
  width: 100%;
  background-color: #222;
  border-bottom: 1px solid black;

  .exportButton {
    margin-left: auto;
    margin-right: 5px;
  }
}

.CodeMirror-vscrollbar {
  display: none !important;
}
