.demoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #overviewText {
    text-align: center;
    color: #c3bef0;
  }

  .demoOverview {
    max-width: 40%;
    overflow-wrap: break-word;
  }

  .demoRow {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    padding: 75px;
    
    .demoDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px;
      overflow-wrap: break-word;
      flex-grow: 1;
      max-width: 50%;
      padding: 5%;
      border-radius: 8px;;

      .demoHeader {
        color: #c3bef0;
      }

      .demoText {
        text-align: center;
        font-family: 'Open sans';
      }
    }

    .demoImage {
      flex-grow: 2;
      min-width: 25%;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}