
// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);


.starWrapper {
  background: transparent;
  height: 100%;
  width: 100%;
  text-align: center;

  #stars{
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: $shadows-small;
    
  }
  
  #stars:after{
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }

  #stars2{
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
  }

  #stars2:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
  
  #stars3{
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
  }

  #stars3:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#homeTitle{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 8px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

@keyframes animStar{
  from{
    transform: translateY(0px)
  }	
  to		 {
    transform: translateY(-2000px)
  }
}
