// About Container
#about{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
  background: $background;
  border-radius: 5px;
  box-shadow: 2px 4px 25px rgba(255, 255, 255, .15);

  .aboutFlexItem {
    width: 30%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin-left: auto;
      margin-right: auto;
      width: 80px;
      height: 80px;
    }

    #feature{
      width: 100px;
      height: 100px;
    }

    h3 {
      font-family: 'Raleway';
      font-size: 30px;
      color: $logocream;
      text-shadow: 0px 0px 5px rgb(247, 246, 199);
      letter-spacing: 1.2px;
    }
    p{
      padding-left: 30px;
      padding-right: 30px;
      font-size: 20px;
      letter-spacing: 1px;
      color: $logocream;
    }
  }
}

// Feature Container
.featureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: $background;
  height: 50vh;
  margin-bottom: 100px;
  box-shadow: 2px 4px 25px rgba(255, 255, 255, .15);

  .featureTitle {
    letter-spacing: 0.8px;
    color: $logocream;
  }

  hr {
    margin-top: 15px;
    width: 80px;
  }

  .featureQuote {
    
    h1 {
      font-family: 'Raleway';
      font-size: 55px;
      letter-spacing: 2px;
      line-height: 70px;
      color: $logocream;
      text-shadow: 0px 0px 5px rgb(247, 246, 199);
    }
  }

  img {
    opacity: 0.7;
    width: 35px;
    height: 35px;
    
  }

}

// Contact Container
#contact{
  padding-top: 100px;

  h3 {
    margin: 5px;
    font-family: 'Raleway';
    font-size: 30px;
    color: $logocream;
    text-shadow: 0px 0px 5px rgb(247, 246, 199);
    letter-spacing: 1.2px;
  }

hr {
  width: 87%;
}


}


#contactForm {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  box-shadow: 2px 4px 25px rgba(255, 255, 255, .05);

  input {
    font-family: 'Overpass', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding:0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
  }

  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  #submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}








