// About Container
.aboutFlex{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  background: $background;

  .aboutFlexItem {
    width: 30%;
    height: 80%;
    border: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-family: 'Lato Bold';
      font-size: 30px;
      color: $lightgold;
    }
    p{
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
    }
  }
}

.featureContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: $background;
  height: 500px;
  padding-top: 10%;
  margin-bottom: 100px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}




#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  input {
    font-family: 'Overpass', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding:0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
  }
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }
}




