.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .teamPage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


