@import './_fonts.scss';
@import './_colors.scss';
@import './psqlGraph.scss';
@import './codeMirror.scss';
@import './navbar.scss';
@import './modals.scss';
@import './adviceGraph.scss';

@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/dracula.css';

* {
  outline: none;
}

body {
  background-color: #282a36;
  color: white;
  font-family: 'Roboto';
}

h1 {
  color: $purple;
}

// for App Page
.AppPageGrid {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%; // come back to check on the scroll...

  #AppPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      'Advice Graph Graph'
      'Code Graph Graph'
      'Code Graph Graph';

    .GraphContainer {
      border: 1px solid black;
      grid-area: Graph;
      background-color: $currentline;
    }

    .CodeContainer {
      border: 1px solid black;
      grid-area: Code;
      display: flex;
      flex-direction: column;
    }

    .AdviceContainer {
      border: 1px solid black;
      grid-area: Advice;
    }
  }
}
