@import './_fonts.scss';
@import './_colors.scss';
@import './homePage.scss';
@import './homeContainers.scss';
@import './splash.scss';
@import './psqlGraph.scss';
@import './codeMirror.scss';
@import './navbar.scss';
@import './modals.scss';
@import './adviceGraph.scss';
@import './adviceCodeBlock.scss';
@import './team.scss';
@import './demo.scss';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/dracula.css';
@import '../../node_modules/codemirror/theme/material.css';
@import '../../node_modules/codemirror/theme/material-palenight.css';

* {
  outline: none;
}

svg:hover {
  cursor: pointer;
}

html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
  color: white;
  font-family: 'Lato Normal';
  height: 100%;
}

h1 {
  color: $foreground;
  font-family: 'Lato Bold';
  text-shadow: -1px 0 rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3),
    1px 0 rgba(255, 255, 255, 0.3), 0 -1px rgba(255, 255, 255, 0.3);
}

#lazyLoading {
  height: 100%;
}

// for App Page
.AppPageGrid {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 2px 4px 25px rgb(0 0 0 / 20%);
  height: 100%; // come back to check on the scroll...

  #AppPage {
    display: grid;
    height: calc(100vh - 10px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 15px;
    border-radius: 15px;
    grid-template-areas:
      'Advice Graph Graph'
      'Code Graph Graph'
      'Code Graph Graph';

    .GraphContainer {
      border: 1px solid black;
      grid-area: Graph;
      background-color: $currentline;
    }

    .CodeContainer {
      border: 1px solid black;
      grid-area: Code;
      display: flex;
      flex-direction: column;
    }

    .AdviceContainer {
      border: 1px solid black;
      grid-area: Advice;
      background-color: $currentline;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      text-align: center;
    }
  }
}

/* button styling */
.buttonClass {
  box-shadow: 2px 4px 25px rgb(0 0 0 / 20%);
  background: $comment;
  height: 30px;
  min-width: 70px;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-size: 12px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1px;
  margin-top: 5px;
}

.buttonClass:nth-child(1) {
  margin-right: 5px;
  margin-left: 5px;
}

.buttonClass #circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  transition: 500ms;
}

.buttonClass:hover #circle {
  background: transparent;
  height: 25px;
  width: 50px;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}
//#circle
.buttonClass:active {
  background: #a1c4fd;
  color: black;
}

