.modal {
  height: 400px;
  width: 800px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .87);//$comment;
  color: black;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
}

// styling for outer URI container
#uriModalContainer {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Roboto';

  #x {
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 0px;
    transition: ease .3s;
    color: $currentline;
  }

  #x:hover {
    color: tomato;
    transform: rotate(30deg);
  }

  #uriBanner {
    text-align: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 20px;
  }
}


// styling for inner URI container
.URILinks {
  display: flex;
  flex-direction: row;

  .URILinkBox {
    background-color: #c3bef0;//$logogray;//rgba(0, 0, 0, .25);
    border-radius: 15px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    padding: 5%;
    width: 370px;

    p {
      text-align: center;
      font-family: 'Righteous';
    }

    .linkInput {
      display: inline-block;
      font-size: 12px;
      border: none;
      border-radius: 10px;
      text-align: center;
      box-shadow: 3px 2px #a9a9a9;
      padding: 10px;
      margin: 10px 0;
      background: white;
      color: #000;
      transition: ease 1s;
    }

    .linkInput:hover{
      text-decoration: none;
      box-shadow: 1px 1px 5px #bbbbbb;
    }

    .linkInput:focus{
      text-decoration: none;
      box-shadow: 1px 1px 5px #bbbbbb;
      outline: none;
    }
  }
}

#sampleBtn {
  width: 45%;
  text-transform: uppercase;
  font-size: 16px;
  height: 40px;
  box-shadow: 2px 4px 25px rgb(0 0 0 / 40%);
  margin-bottom: 15px;

  #circle:hover {
    height: 25px;
    width: 180px;
  }
}
#submitbtn {
  box-shadow: 2px 4px 25px rgb(0 0 0 / 40%);
  width: 60%;
  text-transform: uppercase;
  font-size: 16px;
  height: 30px;
  margin: 3px auto;

  #circle:hover {
    height: 20px;
    width: 80px;
  }
}