.appHeader {
  display: flex;
  justify-content: space-between;
}

.NavBarContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;

  .link {
    color: $logocream;
    text-decoration: none;
    margin: 20px;
    font-family: 'Righteous';
    font-size: 20px;
    transition: ease 0.5s;
  }

  .link:hover {
    color: $cyan;
  }

  .link:hover:nth-child(4) {
    font-family: 'Press Start 2P';
    color: $red;
  }
}

.logo {
  transition: ease 10s;
}

.logo:hover {
  transform: rotate(3600deg);
}
