// Graph Buttons Styling

.graphBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// PSQL Graph Styling

svg {
  background-color: #44475a;
  //width: 100%;
  //height: 100%;
}

.node circle {
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  //stroke: #ffd1ff;
  stroke: $cyan;
  stroke-width: 0.7px;
}
