// Graph Buttons Styling
.graphBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $currentline;
  margin-bottom: 5px;
  padding-bottom: 8px;
}

// PSQL Graph Styling
svg {
  background-color: #44475a;
}

.node circle {
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: $cyan;
  stroke-width: 0.7px;
}
