// Graph Buttons Styling

.graphBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Radial Tree Styling

svg {
  background-color: #44475a;
  width: 100%;
  height: 100%;
}

.node {
  cursor: pointer;
}

.node circle {
  stroke: #f6f3e4;
  stroke-width: 1.5px;
}

.node text {
  font: 11px sans-serif;
}

.link {
  fill: none;
  stroke: #ffd1ff;
  stroke-width: 0.7px;
}
