
// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(3800)}px #{random(3800)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(3800)}px #{random(3800)}px #FFF';
  }

  @return unquote($value)
}


$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);


.starWrapper {
  background: transparent;
  height: 200%;
  width: 100%;
  text-align: center;
  justify-content: center;

  #stars{
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: $shadows-small;
    
  }
  
  #stars:after{
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }

  #stars2{
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
  }

  #stars2:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
  
  #stars3{
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
  }

  #stars3:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

#homeTitle{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;

  img {
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
  }

  span {
    margin-top: 50px;
    font-family: 'Lato Normal';
    font-size: 55px;
    letter-spacing: 8px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #QL{
    background: -webkit-linear-gradient($red, $logodarkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}



.pointerDown a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : 'Lato';
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}


#scrollDown {
  position: relative;
  width: 100%;
  height: 100%;
}
#scrollDown::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#scrollDown a {
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
#scrollDown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes animStar{
  from{
    transform: translateY(0px)
  }	
  to {
    transform: translateY(-2000px)
  }
}
