.node {
  cursor: pointer;
}

.node circle {
  stroke: #f6f3e4;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
  color: white !important;
}

.link {
  fill: none;
  stroke: #ffd1ff;
  stroke-width: 0.7px;
}

svg {
  background-color: #44475a;
}
